h1.emul{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
}
h2.emul{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 24px;
}
h3.emul{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 18.72px;
}
h4.emul{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
}
h5.emul{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 13.28px;
}
h6.emul{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 12px;
}
p.emul{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
}
.jumbotron-title{
    line-height: 80px;
    text-indent: 30px;
    font-size: 32px;
}