/*EMUL_snapshot v 0.0.1*/

/*实心按钮*/
.button-green{
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    vertical-align:middle
    font-size: 16px;
    width: auto;
    margin: 4px 2px;
    cursor: pointer;
    outline:none;/*去除按钮周围的黑边框*/
    border-radius: 8px;
    height: 5px;
    line-height: 5px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.button-green:hover{
    background-color: #036d06;
}
.button-red{
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    vertical-align:middle
    font-size: 16px;
    width: auto;
    margin: 4px 2px;
    cursor: pointer;
    outline:none;/*去除按钮周围的黑边框*/
    border-radius: 8px;
    height: 5px;
    line-height: 5px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.button-red:hover{
    background-color: rgb(236, 0, 0);
}
.button-blue{
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    vertical-align:middle
    font-size: 16px;
    width: auto;
    margin: 4px 2px;
    cursor: pointer;
    outline:none;/*去除按钮周围的黑边框*/
    border-radius: 8px;
    height: 5px;
    line-height: 5px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.button-blue:hover{
    background-color: rgb(0, 0, 235);
}
.button-yellow{
    background-color: yellow;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    vertical-align:middle
    font-size: 16px;
    width: auto;
    margin: 4px 2px;
    cursor: pointer;
    outline:none;/*去除按钮周围的黑边框*/
    border-radius: 8px;
    height: 5px;
    line-height: 5px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.button-yellow:hover{
    background-color: #E8F600;
}
.button-green-large{
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    font-size: 20px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.button-green-large:hover{
    background-color: #036d06;
}

.button-red-large{
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    outline:none;
    border-radius: 8px;
    font-size: 20px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.button-red-large:hover{
    background-color: rgb(236, 0, 0);
}

.button-blue-large{
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    font-size: 20px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.button-blue-large:hover{
    background-color: rgb(0, 4, 235);
}

.button-yellow-large{
    background-color: yellow;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    font-size: 20px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.button-yellow-large:hover{
    background-color: #E8F600;
}

/*空心按钮*/

.button-green-hollow{
    background-color: green;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    font-size: 10px;

    background-color: white;
    color: black;
    border: 2px solid #036d06;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.button-green-hollow:hover {
    background-color:#036d06 ;
    color: white;
}

.button-red-hollow{
    background-color: red;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    font-size: 10px;

    background-color: white;
    color: black;
    border: 2px solid rgb(236, 0, 0) ;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.button-red-hollow:hover {
    background-color: rgb(236, 0, 0);
    color: white;
}

.button-blue-hollow{
    background-color: blue;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    font-size: 10px;

    background-color: white;
    color: black;
    border: 2px solid  rgb(0, 0, 235) ;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.button-blue-hollow:hover{
    background-color:  rgb(0, 0, 235);
    color: white;
}

.button-yellow-hollow{
     background-color: yellow;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    font-size: 10px;

    background-color: white;
    color: black;
    border: 2px solid #E8F600 ;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.button-yellow-hollow:hover{
    background-color: #E8F600;
    color: white;
}


.button-green-large-hollow{
    background-color: green;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    font-size: 20px;

    background-color: white;
    color: black;
    border: 2px solid #036d06;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.button-green-large-hollow:hover {
    background-color:#036d06 ;
    color: white;
}

.button-red-large-hollow{
    background-color: red;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    font-size: 20px;

    background-color: white;
    color: black;
    border: 2px solid rgb(236, 0, 0) ;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.button-red-large-hollow:hover {
    background-color: rgb(236, 0, 0);
    color: white;
}

.button-blue-large-hollow{
    background-color: blue;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    font-size: 20px;

    background-color: white;
    color: black;
    border: 2px solid  rgb(0, 0, 235) ;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.button-blue-large-hollow:hover{
    background-color:  rgb(0, 0, 235);
    color: white;
}

.button-yellow-large-hollow{
    background-color: yellow;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    font-size: 20px;

    background-color: white;
    color: black;
    border: 2px solid #E8F600 ;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.button-yellow-large-hollow:hover{
    background-color: #E8F600;
    color: white;
}
