header.blue{
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    right: 0;
    background-color: #3C96FF;
    color: #ffffff;
    font-size: 20px;
    line-height: 50px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
    overflow: hidden;
    z-index: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header.gray{
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    right: 0;
    background-color: #F9F9F9;
    color: black;
    font-size: 20px;
    line-height: 50px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
    overflow: hidden;
    z-index: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}