/*实心*/
button.solid:disabled{
    opacity: 0.6;
    cursor: not-allowed;
}

button.hollow:disabled{
    cursor: not-allowed;
}

button.solid {
    border-style: solid;
    border-width: 1px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    width: auto;
    margin: 4px 2px;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    height: 5px;
    line-height: 3px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

button.solid.large,
button.hollow.large {
    padding: 18px 32px;
    font-size: 20px;
}

button.solid.blue {
    border-color: #DEE1E6;
    background-color: #3C96FF;
    color: white;
}

button.solid.green {
    border-color: #DEE1E6;
    background-color: #3f9965;
    color: white;
}

button.solid.yellow {
    border-color: #DEE1E6;
    background-color: #ffbb00;
    color: black;
}

button.solid.red {
    border-color: #DEE1E6;
    background-color: #E73D32;
    color: white;
}


/*空心*/

button.hollow {
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    height: 5px;
    width: auto;
    line-height: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button.hollow.green{
    background-color: white;
    color: black;
    border: 2px solid #3f9965;
}

button.hollow.green:hover:not(:disabled) {
    background-color: #3f9965;
    color: white;
}

button.hollow.red {
    background-color: white;
    color: black;
    border: 2px solid #E73D32;
}

button.hollow.red:hover:not(:disabled) {
    background-color: #E73D32;
    color: white;
}

button.hollow.blue {
    background-color: white;
    color: black;
    border: 2px solid #3C96FF;
}

button.hollow.blue:hover:not(:disabled) {
    background-color: #3C96FF;
    color: white;
}

button.hollow.yellow {
    background-color: white;
    color: black;
    border: 2px solid #ffbb00;
}

button.hollow.yellow:hover:not(:disabled) {
    background-color: #ffbb00;
    color: white;
}
