.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  height: 10px;
  line-height: 10px;
  color: white;
}

.green{
	background-color: #3f9965;
}

.blue{
	background-color: #3C96FF;
}

.yellow{
	background-color: #ffbb00;
}

.red{
	background-color: #E73D32;
}
// color from "emul-button"


